.admin-table {
    width: 100%;
    height: 100%;
}

.admin-table table {
    width: 100%;
    vertical-align: middle;
}

.admin-table .admin-header {
    padding-bottom: 10px;
}

.admin-table .admin-header > h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 20px;
}

.admin-table .admin-header .btn-group {
    display: flex;
    gap: 10px;
    width: 100%;
}

.admin-table .admin-header .btn-group > button {
    width: fit-content;
    display: block;
}

.admin-table table .action {
    width: 100px;
    text-align: center;
}

.admin-table table .action > button {
    margin: 0 5px;
    padding: 0 5px;
    border: none;
    background-color: transparent;
}

.admin-table table .action > button > i {
    font-size: 1.2rem;
}

.admin-table table .action > button.btn-edit {
    color: var(--color-orange);
}

.admin-table table .action > button.btn-delete {
    color: var(--color-red);
}

.admin-table table .action > button.btn-confirm > i,
.admin-table table .action > button.btn-cancel > i {
    font-size: 1.3rem;
}

.admin-table table .action > button.btn-confirm {
    color: var(--color-green);
}

.admin-table table .action > button.btn-cancel {
    color: var(--color-red);
}

.admin-table table .value-too-long {
    max-width: 250px;
}

.admin-table table .value-too-long.gallery-title {
    max-width: 250px;
}

.admin-table table .value-too-long > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: inherit;
    display: block;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--bg-opacity);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.status {
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--color-white);
    font-weight: 500;
    background-color: var(--color-green);
    width: fit-content;
}

.status.expired {
    background-color: var(--color-red);
}

.status-order-item {
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--color-white);
    font-weight: 500;
    width: fit-content;
    cursor: pointer;
}

.status-order-item.pending {
    background-color: var(--color-orange);
}

.status-order-item.processed {
    background-color: var(--color-yellow);
}

.status-order-item.shipping {
    background-color: var(--color-blue);
}

.status-order-item.shipped {
    background-color: var(--color-green);
}

.status-order-item.cancelled {
    background-color: var(--color-red);
}

.status-order-item.paid {
    background-color: var(--color-blue-violet);
}

.status-order-item.unpaid {
    background-color: black;
    color: white;
}

.image-gallery {
    text-align: center;
}

.image-gallery > img {
    width: 150px;
}

.table-product {
    max-height: 480px;
    overflow-y: scroll;
}

.th-sort {
    cursor: pointer;
    user-select: none;
}

.btn-group-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.btn-group-filter .btn-add {
    width: 20%;
}
.btn-search {
    display: flex;
    gap: 10px;
    width: 80%;
    align-items: center;
}

.btn-search .check-is-stock {
    display: flex;
    align-items: center;
    width: fit-content;
}

.btn-search .check-is-stock > label {
    display: block;
    text-wrap: unset;
    width: 60px;
}

.btn-search > input {
    padding: 5px 10px;
}
.btn-search .btn-search-button {
    width: 60%;
}
.btn-search .btn-search-button > button {
    display: block;
    padding: 5px 10px;
    width: 100%;
}
