<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .header h3 {
            padding: 10px 0;
        }

        .line-break {
            position: relative;
            width: 100%;
            margin: 10px 0;
            height: 1px;
            background-color: #ddd;
        }

        p {
            padding: 5px 0;
        }

        th {
            width: 50%;
        }

        td {
            width: 50%;
        }

        table {
            border: none;
            text-align: left;
            width: 100%
        }
    </style>
</head>
<body>
<div style="width: 100%;
            height: 100%;
            padding: 10px">
    <div style="margin: 0 auto;
         width: fit-content">
        <div>
            <h3 class="header">Đơn hàng đã tạo thành công</h3>
            <p>
                Xin chào <span th:text="${CUSTOMER_NAME}"></span>,
                <br>
                Đơn hàng của bạn đã được tạo thành công ngày
                <b th:text="${ORDER_DATE}"></b>
            </p>
        </div>
        <div class="line-break"></div>
        <div>
            <div class="customer--info">
                <h4 style="padding: 5px 0">Thông tin người đặt</h4>
                <table>
                    <tr>
                        <th>Họ tên người nhận:</th>
                        <td th:text="${CUSTOMER_RECEIVE_NAME}"></td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td th:text="${CUSTOMER_EMAIL}"></td>
                    </tr>
                    <tr>
                        <th>Số điện thoại người nhận:</th>
                        <td th:text="${CUSTOMER_PHONE}"></td>
                    </tr>
                    <tr>
                        <th>Địa chỉ nhận hàng:</th>
                        <td th:text="${CUSTOMER_ADDRESS}"></td>
                    </tr>
                </table>
            </div>
            <div class="line-break"></div>
            <div>
                <h4 style="padding: 5px 0">Thông tin đơn hàng</h4>
                <div>
                    <div>
                        <div th:each="item, stat : ${ORDER_ITEMS}">
                            <p>
                                <span th:text="${stat.index + 1} + '. '"></span>
                                <span th:text="${item.product.title}"></span>
                            </p>
                            <table>
                                <tr>
                                    <th>Số lượng:</th>
                                    <td th:text="${item.quantity}"></td>
                                </tr>
                                <tr>
                                    <th>Giá tiền:</th>
                                    <td th:text="${#numbers.formatInteger(item.price, 0, 'POINT') + '₫'}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="line-break"></div>
                    <div>
                        <table>
                            <tr>
                                <th>Tổng tiền:</th>
                                <td th:text="${ORDER_TOTAL_NOT_DISCOUNT} + '₫'"></td>
                            </tr>
                            <tr th:if="${ORDER_DISCOUNT_PRICE != null}">
                                <th>Giảm giá:</th>
                                <td th:text="${ORDER_DISCOUNT_PRICE} + '₫'"></td>
                            </tr>
                            <tr th:if="${ORDER_COUPON_CODE != null}">
                                <th>Mã giảm giá:</th>
                                <td th:text="${ORDER_COUPON_CODE}"></td>
                            </tr>
                            <tr>
                                <th>Tổng thanh toán:</th>
                                <td th:text="${ORDER_TOTAL} + '₫'"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div style="margin-top: 20px;
            	text-align: center">
                <a style="padding: 10px 20px;
            	text-align: center;
            	font-weight: bold;
            	color: #ffffff;
            	background-color: #006fff;
            	cursor: pointer;
            	text-decoration: none;"
                   th:href="${ORDER_LINK}">Chi tiết đơn hàng</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
